Which services will be required 
Workflow orchestrator service to handle retries failures and all 
1) the upload service 
2) listener service ( I'll have to configure it somewhere later )
3) encoding service 

// done with research have to implement some shit as well 
1) make the upload service to s3 ( s3 is capable of handling traffic well )
2) use sqs for events 
3) use a consumer service to poll for sqs events 
4) Ab hoga tehelka , now after polling use another microservice for transcoding the video into different formats using docker 
5) again store this file into s3 bucket , probably the m3u8 file for adaptive bitrate streaming and hls 
and all set I guess 


at the end implment solid monitoring and stuff 
